<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">首页</a></li>
  <li><a href="apis.html">接口标准</a></li>
  <li><a href="models.html">数据模型</a></li>
  <li><a href="artifacts.html#4">代码系统</a></li>
  <li><a href="artifacts.html#3">值集</a></li>
  <li><a href="examples.html">示例</a></li>
  <li><a href="artifacts.html">所有工件</a></li>
  <li><a href="downloads.html">下载</a></li>
</ul>